# Install Library yang diperlukan

Ini adalah script untuk mengubah pdf lampiran hasil CPNS jadi csv
Caveat: kalo langsung prosess 20rb halaman, agak keselek di tengah, jadi mending di-iterate beberapa halaman
Saya yakin ada cara yang lebih elegan. Feel free to give me any suggestions

Cara run </br>
python export_data_to_csv.py index_halaman_start index_halaman_end

Misal </br>
python export_data_to_csv.py 0 100

In [1]:
# import library
import tabula
import camelot
import pandas as pd
import datetime as dt
import sys

pd.options.display.max_columns = None

## Scraping Data

In [9]:
# Tenaga Puskemas

# Replace "nama_file.pdf" with your actual file path
df = tabula.read_pdf("2020.pdf", pages="40")[0]

df.rename(columns={'Jenis Tenaga Kesehatan': "Jenis Tenaga", "Jumlah Tenaga Kesehatan" : "Jumlah Tenaga"}, inplace = True)
df['Jumlah Tenaga'] = df['Jumlah Tenaga'].astype(str)
df['Jumlah Tenaga'] = df['Jumlah Tenaga'].str.replace(".", "")

df['Jumlah Tenaga'] = df['Jumlah Tenaga'].astype(int)
df['tahun'] = "2020"
df['unit_kerja'] = "puskesmas"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Jenis Tenaga   9 non-null      object
 1   Jumlah Tenaga  9 non-null      int32
 2   tahun          9 non-null      object
 3   unit_kerja     9 non-null      object
dtypes: int32(1), object(3)
memory usage: 380.0+ bytes

<ipython-input-9-4f5b29effebb>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Jumlah Tenaga'] = df['Jumlah Tenaga'].str.replace(".", "")

In [21]:
# Tenaga Rumah Sakit

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='44')
df = tables[0].df
df = df.iloc[:12,: ]
df = df.iloc[3:,: ]
df.set_axis(["Jenis Tenaga Kesehatan", "Jumlah Tenaga Kesehatan"], axis=1, inplace=True)
df.rename(columns={'Jenis Tenaga Kesehatan': "Jenis Tenaga", "Jumlah Tenaga Kesehatan" : "Jumlah Tenaga"}, inplace = True)
df['Jumlah Tenaga'] = df['Jumlah Tenaga'].astype(str)
df['Jumlah Tenaga'] = df['Jumlah Tenaga'].str.replace(".", "")

df['Jumlah Tenaga'] = df['Jumlah Tenaga'].astype(int)
df['tahun'] = "2020"
df['unit_kerja'] = "rumah sakit"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 3 to 11
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Jenis Tenaga   9 non-null      object
 1   Jumlah Tenaga  9 non-null      int32
 2   tahun          9 non-null      object
 3   unit_kerja     9 non-null      object
dtypes: int32(1), object(3)
memory usage: 384.0+ bytes

<ipython-input-21-60a10bb5218d>:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Jumlah Tenaga'] = df['Jumlah Tenaga'].str.replace(".", "")

In [28]:
## Rekapitulasi Rasio Tenaga Kesehatan /100.000

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='45')
df = tables[0].df
df = df.iloc[2:,:]
df.set_axis(["jenis_tenaga","Ratio/100.000 Penduduk"], axis=1, inplace=True)
df['Ratio/100.000 Penduduk'] = df['Ratio/100.000 Penduduk'].str.replace(',','.')
df['Ratio/100.000 Penduduk'] = df['Ratio/100.000 Penduduk'].astype(float)
df.replace("Tenaga\rTeknisKefarmasian", "Tenaga Teknis Kefarmasian", inplace=True)


df['tahun'] = "2020"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 2 to 13
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   jenis_tenaga            12 non-null     object
 1   Ratio/100.000 Penduduk  12 non-null     float64
 2   tahun                   12 non-null     object
dtypes: float64(1), object(2)
memory usage: 420.0+ bytes

<ipython-input-28-21ac6c8f5f6b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ratio/100.000 Penduduk'] = df['Ratio/100.000 Penduduk'].str.replace(',','.')
<ipython-input-28-21ac6c8f5f6b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ratio/100.000 Penduduk'] = df['Ratio/100.000 Penduduk'].astype(float)
<ipython-input-28-21ac6c8f5f6b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace("Tenaga\rTeknisKefarmasian", "Tenaga Teknis Kefarmasian", inplace=True)
<ipython-input-28-21ac6c8f5f6b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tahun'] = "2020"

In [131]:
## Jumlah Fasilitas Kesehatan Menurut Kepemilikan 
### Data ini dicek secara manual pada setiap laporan kesehatan per kab/kota 2022

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='149')

df = tables[0].df

df = df.iloc[10:,[1,30] ]
df = df.iloc[:-1,: ]

df.set_axis(["Kabupaten/Kota", "Jumlah"], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

df['Jumlah'] = df['Jumlah'].str.replace("-", "0")
df['Jumlah'] = df['Jumlah'].replace('', '0')
df['Jumlah'] = df['Jumlah'].str.replace(".", "")
df['Jumlah'] = pd.to_numeric(df['Jumlah'], errors='coerce').fillna(0).astype(int)
df['tahun'] = "2020"
df

             Kabupaten/Kota  Jumlah tahun
0           KABUPATEN BOGOR     298  2022
1        KABUPATEN SUKABUMI      31  2022
2         KABUPATEN CIANJUR       0  2022
3         KABUPATEN BANDUNG      13  2022
4           KABUPATEN GARUT       6  2022
5     KABUPATEN TASIKMALAYA      10  2022
6          KABUPATEN CIAMIS       8  2022
7        KABUPATEN KUNINGAN      63  2022
8         KABUPATEN CIREBON     251  2022
9      KABUPATEN MAJALENGKA      51  2022
10       KABUPATEN SUMEDANG      27  2022
11      KABUPATEN INDRAMAYU      77  2022
12         KABUPATEN SUBANG      13  2022
13     KABUPATEN PURWAKARTA       0  2022
14       KABUPATEN KARAWANG     276  2022
15         KABUPATEN BEKASI      66  2022
16  KABUPATEN BANDUNG BARAT       0  2022
17    KABUPATEN PANGANDARAN       3  2022
18               KOTA BOGOR      75  2022
19            KOTA SUKABUMI      40  2022
20             KOTA BANDUNG       0  2022
21             KOTA CIREBON      45  2022
22              KOTA BEKASI      66  2022
23               KOTA DEPOK     131  2022
24              KOTA CIMAHI      69  2022
25         KOTA TASIKMALAYA      27  2022
26              KOTA BANJAR      16  2022

In [35]:
### PELAYANAN KESEHATAN GIGI DAN MULUT MENURUT KECAMATAN DAN PUSKESMAS

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='229')

df = tables[0].df

df = df.iloc[6:,[1,3,5,7] + list(range(9, df.shape[1])) ]
df.reset_index(drop=True, inplace=True)
df.iloc[26,0] = "Jawa Barat"
df.set_axis(["Kabupaten/Kota", "Jumlah Tumpatan Gigi Tetap", "Pencabutan Gigi Tetap", "Rasio Pencabutan", "Jumlah Kasus Gigi", "Jumlah Kasus dirujuk", "% Rasio Dirujuk"], axis=1, inplace=True)
df = df.replace('', '0')
df = df.replace('-', '0')
df = df.replace('#DIV/0!', '0')
for col in ['Rasio Pencabutan', '% Rasio Dirujuk']:
    df[col] = df[col].str.replace(',', '.').astype(float)

for col in ['Jumlah Tumpatan Gigi Tetap', 'Pencabutan Gigi Tetap', 'Jumlah Kasus Gigi', 'Jumlah Kasus dirujuk']:
    df[col] = df[col].str.replace('.', '').astype(int)
df['tahun'] = "2020"
df['unit_kerja'] = "puskesmas"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Kabupaten/Kota              28 non-null     object
 1   Jumlah Tumpatan Gigi Tetap  28 non-null     int32
 2   Pencabutan Gigi Tetap       28 non-null     int32
 3   Rasio Pencabutan            28 non-null     float64
 4   Jumlah Kasus Gigi           28 non-null     int32
 5   Jumlah Kasus dirujuk        28 non-null     int32
 6   % Rasio Dirujuk             28 non-null     float64
 7   tahun                       28 non-null     object
 8   unit_kerja                  28 non-null     object
dtypes: float64(2), int32(4), object(3)
memory usage: 1.7+ KB

<ipython-input-35-12f91922f0d3>:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '').astype(int)

In [52]:
## PELAYANAN KESEHATAN GIGI DAN MULUT PADA ANAK SD DAN SETINGKAT MENURUT JENIS KELAMIN, KECAMATAN, DAN PUSKESMAS

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='230')

df = tables[0].df

columns_to_drop = [18,20,22, 24, 27]
df = df.iloc[9:, [1, 2, 4, 5] + list(range(7, df.shape[1]))].drop(columns=columns_to_drop)

df = df.iloc[:-1]
df = df.iloc[:,]
df.reset_index(drop=True, inplace=True)
# df = df.rename_axis(None, axis=1)
df.iloc[27,0] = "Jawa Barat"
df.set_axis(['Kabupaten/Kota', 'jumlah_SD/MI','jumlah_SD/MI_SG_Massal','%jumlah_SD/MI_SG_Massal',
             'jumlah_SD/MI_LG','%jumlah_SD/MI_LG',
            'jumlah_murid_SD/MI_L', 'jumlah_murid_SD/MI_P', 'jumlah_murid_SD/MI_LP',
            'jumlah_murid_SD/MI_L_Diperiksa','%jumlah_murid_SD/MI_L_Diperiksa','jumlah_murid_SD/MI_P_Diperiksa','%jumlah_murid_SD/MI_P_Diperiksa', 'jumlah_murid_SD/MI_LP_Diperiksa','%jumlah_murid_SD/MI_LP_Diperiksa',
            'jumlah_murid_SD/MI_L_PR','jumlah_murid_SD/MI_P_PR','jumlah_murid_SD/MI_LP_PR',
            'jumlah_murid_SD/MI_L_MP','%jumlah_murid_SD/MI_L_MP','jumlah_murid_SD/MI_P_MP','%jumlah_murid_SD/MI_P_MP','jumlah_murid_SD/MI_LP_MP','%jumlah_murid_SD/MI_LP_MP'], axis=1, inplace=True)
df = df.replace('', '0')
df = df.replace('-', '0')

## Replace #DIV N #Value
for col in df.columns:
    df.loc[df[col].astype(str).str.contains('#'), col] = 0

for col in df.columns[df.columns.str.contains('%')]:
    df[col] = df[col].str.replace(',', '.').astype(float)

for col in df.columns[~(df.columns.str.contains('%') | (df.columns == 'Kabupaten/Kota'))]:
    df[col] = df[col].replace('\.', '', regex=True).astype(int)
df.fillna(0, inplace=True)

df['tahun'] = "2020"
df['unit_kerja'] = "puskesmas"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Kabupaten/Kota                    28 non-null     object
 1   jumlah_SD/MI                      28 non-null     int32
 2   jumlah_SD/MI_SG_Massal            28 non-null     int32
 3   %jumlah_SD/MI_SG_Massal           28 non-null     float64
 4   jumlah_SD/MI_LG                   28 non-null     int32
 5   %jumlah_SD/MI_LG                  28 non-null     float64
 6   jumlah_murid_SD/MI_L              28 non-null     int32
 7   jumlah_murid_SD/MI_P              28 non-null     int32
 8   jumlah_murid_SD/MI_LP             28 non-null     int32
 9   jumlah_murid_SD/MI_L_Diperiksa    28 non-null     int32
 10  %jumlah_murid_SD/MI_L_Diperiksa   28 non-null     float64
 11  jumlah_murid_SD/MI_P_Diperiksa    28 non-null     int32
 12  %jumlah_murid_SD/MI_P_Diperiksa   28 non-null     float64
 13  jumlah_murid_SD/MI_LP_Diperiksa   28 non-null     int32
 14  %jumlah_murid_SD/MI_LP_Diperiksa  28 non-null     float64
 15  jumlah_murid_SD/MI_L_PR           28 non-null     int32
 16  jumlah_murid_SD/MI_P_PR           28 non-null     int32
 17  jumlah_murid_SD/MI_LP_PR          28 non-null     int32
 18  jumlah_murid_SD/MI_L_MP           28 non-null     int32
 19  %jumlah_murid_SD/MI_L_MP          28 non-null     float64
 20  jumlah_murid_SD/MI_P_MP           28 non-null     int32
 21  %jumlah_murid_SD/MI_P_MP          28 non-null     float64
 22  jumlah_murid_SD/MI_LP_MP          28 non-null     int32
 23  %jumlah_murid_SD/MI_LP_MP         28 non-null     float64
 24  tahun                             28 non-null     object
 25  unit_kerja                        28 non-null     object
dtypes: float64(8), int32(15), object(3)
memory usage: 4.2+ KB

In [56]:
## Jumlah Tenaga Medis Per Kab/Kota Puskesmas
tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='182')

df = tables[1].df

df = df.iloc[:32, [1] + [20,22,24,26,28,30]]

df = df.iloc[5: ]
df.set_axis(['Kab/Kota','jml_dg_l','jml_dg_p','jml_dg_lp','jml_dgsp_l','jml_dgsp_p','jml_dgsp_lp'], axis=1, inplace=True)
df = df.replace('', '0')
df = df.replace('-', '0')

for col in df.columns[~(df.columns.str.contains('%') | (df.columns == 'Kab/Kota'))]:
    df[col] = df[col].str.replace(',', '').astype(int)


df

,Kab/Kota,jml_dg_l,jml_dg_p,jml_dg_lp,jml_dgsp_l,jml_dgsp_p,jml_dgsp_lp
5,Kabupaten Bogor,5,56,61,0,0,0
6,Kabupaten Sukabumi,9,14,23,0,0,0
7,Kabupaten Cianjur,15,51,66,0,0,0
8,Kabupaten Bandung,16,62,78,0,0,0
9,Kabupaten Garut,7,16,23,0,0,0
10,Kabupaten Tasikmalaya,9,15,24,0,0,0
11,Kabupaten Ciamis,3,13,16,0,0,0
12,Kabupaten Kuningan,5,11,16,0,0,0
13,Kabupaten Cirebon,9,31,40,0,0,0
14,Kabupaten Majalengka,3,11,14,0,0,0
15,Kabupaten Sumedang,4,9,13,0,0,0
16,Kabupaten Indramayu,4,25,29,0,0,0
17,Kabupaten Subang,1,18,19,0,0,0
18,Kabupaten Purwakarta,2,18,20,0,0,0
19,Kabupaten Karawang,7,31,38,0,0,0
20,Kabupaten Bekasi,4,44,48,0,0,0
21,Kabupaten Bandung Barat,7,26,33,0,0,0
22,Kabupaten Pangandaran,6,5,11,0,0,0
23,Kota Bogor,2,40,42,0,0,0
24,Kota Sukabumi,4,8,12,0,0,0
25,Kota Bandung,14,84,98,0,0,0
26,Kota Cirebon,8,35,43,0,0,0
27,Kota Bekasi,2,80,82,0,0,0
28,Kota Depok,1,47,48,1,1,2
29,Kota Cimahi,0,19,19,0,0,0
30,Kota Tasikmalaya,5,17,17,0,0,0
31,Kota Banjar,2,8,10,0,0,0

In [57]:
# Menggabungkan kolom 'jml_dg_l', 'jml_dg_p', 'jml_dgsp_l', dan 'jml_dgsp_p' menjadi satu kolom 'jumlah'
df_dg = pd.concat([
    df.loc[:,['Kab/Kota','jml_dg_l']].rename(columns={'jml_dg_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi', unit_kerja='puskesmas'),
    df.loc[:,['Kab/Kota','jml_dg_p']].rename(columns={'jml_dg_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi', unit_kerja='puskesmas'),
    df.loc[:,['Kab/Kota','jml_dgsp_l']].rename(columns={'jml_dgsp_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi spesialis', unit_kerja='puskesmas'),
    df.loc[:,['Kab/Kota','jml_dgsp_p']].rename(columns={'jml_dgsp_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi spesialis', unit_kerja='puskesmas')
], ignore_index=True)

# Menghapus duplikat dan mengurutkan data berdasarkan 'Kab/Kota' dan 'jns_kelamin'
df_dg = df_dg.drop_duplicates().sort_values(['Kab/Kota','jns_kelamin'])
df_dg['tahun'] = "2020"
df_dg

,Kab/Kota,jumlah,jns_kelamin,profesi,unit_kerja,tahun
3,Kabupaten Bandung,16,laki-laki,dokter gigi,puskesmas,2020
57,Kabupaten Bandung,0,laki-laki,dokter gigi spesialis,puskesmas,2020
30,Kabupaten Bandung,62,perempuan,dokter gigi,puskesmas,2020
84,Kabupaten Bandung,0,perempuan,dokter gigi spesialis,puskesmas,2020
16,Kabupaten Bandung Barat,7,laki-laki,dokter gigi,puskesmas,2020
...,...,...,...,...,...,...
100,Kota Sukabumi,0,perempuan,dokter gigi spesialis,puskesmas,2020
25,Kota Tasikmalaya,5,laki-laki,dokter gigi,puskesmas,2020
79,Kota Tasikmalaya,0,laki-laki,dokter gigi spesialis,puskesmas,2020
52,Kota Tasikmalaya,17,perempuan,dokter gigi,puskesmas,2020
106,Kota Tasikmalaya,0,perempuan,dokter gigi spesialis,puskesmas,2020

In [75]:
## Jumlah Tenaga Medis Kab/Kota Rumah Sakit

tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='182')

df = tables[0].df

df = df.iloc[33:, [1] + [20,22,24,26,28,30]]

df.set_axis(['Kab/Kota','jml_dg_l','jml_dg_p','jml_dg_lp','jml_dgsp_l','jml_dgsp_p','jml_dgsp_lp'], axis=1, inplace=True)
df = df.replace('', '0')
df = df.replace('-', '0')

for col in df.columns[~(df.columns.str.contains('%') | (df.columns == 'Kab/Kota'))]:
    df[col] = df[col].str.replace(',', '').astype(int)

In [76]:
tables = camelot.read_pdf("2020.pdf", flavor='stream', pages='183')

df2 = tables[0].df

df2 = df2.iloc[3:, [1] + [18,20,22,24,26,28]]
df2.set_axis(['Kab/Kota','jml_dg_l','jml_dg_p','jml_dg_lp','jml_dgsp_l','jml_dgsp_p','jml_dgsp_lp'], axis=1, inplace=True)
df2 = df2.replace('', '0')
df2 = df2.replace('-', '0')

for col in df2.columns[~(df2.columns.str.contains('%') | (df2.columns == 'Kab/Kota'))]:
    df2[col] = df2[col].str.replace(',', '').astype(int)


df = pd.concat([df, df2], ignore_index=True)

In [77]:
df_dg = pd.concat([
    df.loc[:,['Kab/Kota','jml_dg_l']].rename(columns={'jml_dg_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi', unit_kerja='rumah sakit'),
    df.loc[:,['Kab/Kota','jml_dg_p']].rename(columns={'jml_dg_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi', unit_kerja='rumah sakit'),
    df.loc[:,['Kab/Kota','jml_dgsp_l']].rename(columns={'jml_dgsp_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi spesialis', unit_kerja='rumah sakit'),
    df.loc[:,['Kab/Kota','jml_dgsp_p']].rename(columns={'jml_dgsp_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi spesialis', unit_kerja='rumah sakit')
], ignore_index=True)

# Menghapus duplikat dan mengurutkan data berdasarkan 'Kab/Kota' dan 'jns_kelamin'
df_dg = df_dg.drop_duplicates().sort_values(['Kab/Kota','jns_kelamin'])
df['tahun'] = "2020"
df_dg

,Kab/Kota,jumlah,jns_kelamin,profesi,unit_kerja
3,Kabupaten Bandung,8,laki-laki,dokter gigi,rumah sakit
57,Kabupaten Bandung,2,laki-laki,dokter gigi spesialis,rumah sakit
30,Kabupaten Bandung,17,perempuan,dokter gigi,rumah sakit
84,Kabupaten Bandung,9,perempuan,dokter gigi spesialis,rumah sakit
16,Kabupaten Bandung Barat,5,laki-laki,dokter gigi,rumah sakit
...,...,...,...,...,...
100,Kota Sukabumi,1,perempuan,dokter gigi spesialis,rumah sakit
25,Kota Tasikmalaya,5,laki-laki,dokter gigi,rumah sakit
79,Kota Tasikmalaya,2,laki-laki,dokter gigi spesialis,rumah sakit
52,Kota Tasikmalaya,8,perempuan,dokter gigi,rumah sakit
106,Kota Tasikmalaya,3,perempuan,dokter gigi spesialis,rumah sakit

In [78]:
# ## Klinik DIKLAT KESEHATAN
df_sukabumi = pd.DataFrame({
    'Kab/Kota': ['Kota Sukabumi'],
    'jml_dg_l': [3],
    'jml_dg_p': [14],
    'jml_dgsp_l': [0],
    'jml_dgsp_p': [0]
})

df_bekasi = pd.DataFrame({
    'Kab/Kota': ['Kabupaten Bekasi'],
    'jml_dg_l': [31],
    'jml_dg_p': [139],
    'jml_dgsp_l': [11],
    'jml_dgsp_p': [28]
})

df_cimahi = pd.DataFrame({
    'Kab/Kota': ['Kota Cimahi'],
    'jml_dg_l': [16],
    'jml_dg_p': [21],
    'jml_dgsp_l': [1],
    'jml_dgsp_p': [0]
})

df_combined = pd.concat([df_sukabumi, df_bekasi,df_cimahi], ignore_index=True)

df_dg = pd.concat([
    df_combined.loc[:,['Kab/Kota','jml_dg_l']].rename(columns={'jml_dg_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi', unit_kerja='klinik diklat kesehatan'),
    df_combined.loc[:,['Kab/Kota','jml_dg_p']].rename(columns={'jml_dg_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi', unit_kerja='klinik diklat kesehatan'),
    df_combined.loc[:,['Kab/Kota','jml_dgsp_l']].rename(columns={'jml_dgsp_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi spesialis', unit_kerja='klinik diklat kesehatan'),
    df_combined.loc[:,['Kab/Kota','jml_dgsp_p']].rename(columns={'jml_dgsp_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi spesialis', unit_kerja='klinik diklat kesehatan')
], ignore_index=True)

# Menghapus duplikat dan mengurutkan data berdasarkan 'Kab/Kota' dan 'jns_kelamin'
df_dg = df_dg.drop_duplicates().sort_values(['Kab/Kota','jns_kelamin'])
df['tahun'] = "2020"
df_dg

,Kab/Kota,jumlah,jns_kelamin,profesi,unit_kerja
1,Kabupaten Bekasi,31,laki-laki,dokter gigi,klinik diklat kesehatan
7,Kabupaten Bekasi,11,laki-laki,dokter gigi spesialis,klinik diklat kesehatan
4,Kabupaten Bekasi,139,perempuan,dokter gigi,klinik diklat kesehatan
10,Kabupaten Bekasi,28,perempuan,dokter gigi spesialis,klinik diklat kesehatan
2,Kota Cimahi,16,laki-laki,dokter gigi,klinik diklat kesehatan
8,Kota Cimahi,1,laki-laki,dokter gigi spesialis,klinik diklat kesehatan
5,Kota Cimahi,21,perempuan,dokter gigi,klinik diklat kesehatan
11,Kota Cimahi,0,perempuan,dokter gigi spesialis,klinik diklat kesehatan
0,Kota Sukabumi,3,laki-laki,dokter gigi,klinik diklat kesehatan
6,Kota Sukabumi,0,laki-laki,dokter gigi spesialis,klinik diklat kesehatan
3,Kota Sukabumi,14,perempuan,dokter gigi,klinik diklat kesehatan
9,Kota Sukabumi,0,perempuan,dokter gigi spesialis,klinik diklat kesehatan

In [79]:
## Klinik Dinas Kesehatan
data_sukabumi = {'Kab/Kota': 'Kota Sukabumi',
              'jml_dg_l': 3,
              'jml_dg_p': 14,
              'jml_dgsp_l': 0,
              'jml_dgsp_p': 0}

data_bandung = {'Kab/Kota': 'Kota Bandung',
                'jml_dg_l': 4,
                'jml_dg_p': 16,
                'jml_dgsp_l': 0,
                'jml_dgsp_p': 0}

data_tasik = {'Kab/Kota': 'Kota Tasikmalaya',
                'jml_dg_l': 24,
                'jml_dg_p': 44,
                'jml_dgsp_l': 18,
                'jml_dgsp_p': 20}

df_sukabumi = pd.DataFrame([data_sukabumi])
df_bandung = pd.DataFrame([data_bandung])
df_tasik = pd.DataFrame([data_tasik])

df_combined = pd.concat([df_sukabumi, df_bandung, df_tasik], ignore_index=True)

df_dg = pd.concat([
    df_combined.loc[:,['Kab/Kota','jml_dg_l']].rename(columns={'jml_dg_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi', unit_kerja='klinik DINKES'),
    df_combined.loc[:,['Kab/Kota','jml_dg_p']].rename(columns={'jml_dg_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi', unit_kerja='klinik DINKES'),
    df_combined.loc[:,['Kab/Kota','jml_dgsp_l']].rename(columns={'jml_dgsp_l':'jumlah'}).assign(jns_kelamin='laki-laki', profesi='dokter gigi spesialis', unit_kerja='klinik DINKES'),
    df_combined.loc[:,['Kab/Kota','jml_dgsp_p']].rename(columns={'jml_dgsp_p':'jumlah'}).assign(jns_kelamin='perempuan', profesi='dokter gigi spesialis', unit_kerja='klinik DINKES')
], ignore_index=True)

# Menghapus duplikat dan mengurutkan data berdasarkan 'Kab/Kota' dan 'jns_kelamin'
df_dg = df_dg.drop_duplicates().sort_values(['Kab/Kota','jns_kelamin'])
df['tahun'] = "2020"
df_dg

            Kab/Kota  jumlah jns_kelamin                profesi     unit_kerja
1       Kota Bandung       4   laki-laki            dokter gigi  klinik DINKES
7       Kota Bandung       0   laki-laki  dokter gigi spesialis  klinik DINKES
4       Kota Bandung      16   perempuan            dokter gigi  klinik DINKES
10      Kota Bandung       0   perempuan  dokter gigi spesialis  klinik DINKES
0      Kota Sukabumi       3   laki-laki            dokter gigi  klinik DINKES
6      Kota Sukabumi       0   laki-laki  dokter gigi spesialis  klinik DINKES
3      Kota Sukabumi      14   perempuan            dokter gigi  klinik DINKES
9      Kota Sukabumi       0   perempuan  dokter gigi spesialis  klinik DINKES
2   Kota Tasikmalaya      24   laki-laki            dokter gigi  klinik DINKES
8   Kota Tasikmalaya      18   laki-laki  dokter gigi spesialis  klinik DINKES
5   Kota Tasikmalaya      44   perempuan            dokter gigi  klinik DINKES
11  Kota Tasikmalaya      20   perempuan  dokter gigi spesialis  klinik DINKES

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 9 to 35
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kab/Kota     27 non-null     object
 1   jml_dg_l     27 non-null     int32
 2   jml_dg_p     27 non-null     int32
 3   jml_dg_lp    27 non-null     int32
 4   jml_dgsp_l   27 non-null     int32
 5   jml_dgsp_p   27 non-null     int32
 6   jml_dgsp_lp  27 non-null     int32
dtypes: int32(6), object(1)
memory usage: 996.0+ bytes
None

# Data Tahap 1

In [5]:
def check_for_jabatan(page):
    '''
    Fungsi untuk mengecek keberadaan informasi jurusan pilihan
    Input: page (ex: pdf.pages[0])
    Output: 
        - dicitionary berisi informasi jurusan pilihan
    '''
    if "Jumlah Tenaga Kesehatan di Puskesmas" in page.extract_text():
        text = pg.extract_text()
        pendidikan = pg.extract_tables()[1][0][1]
        jurusan_strings = text.split("Jurusan : ")[1].split("Lokasi")[0]
        lokasi_front = ""
        jurusan = jurusan_strings.split("\n")[0]

        lokasi_string = text.split("Lokasi Formasi : ")[1].split("Jenis")[0]

        return {
            "kode_jurusan": jurusan.split(" - ")[0],
            "jurusan": jurusan.split(" - ")[1],
            "kode_lokasi": lokasi_string.split(" - ")[0],
            "lokasi_formasi": lokasi_string.split(" - ")[1].split("\n")[0],
            "pendidikan": pendidikan.replace("\n", " ")
        }
    else:
        return {}

def check_for_detail_tables(page):
    '''
    Fungsi untuk mengecek keberadaan tabel perorangan
    Input: page (ex: pdf.pages[0])
    Output: 
        - found (binary, iya tidaknya sebuah halaman punya tabel perorangan)
        - df_returned (tabel perorangan jika ada)
    '''
    found = False
    df_returned = pd.DataFrame()
    for table in pg.extract_tables():
        df = pd.DataFrame(table)

        if (df.shape[1] == 9): #jumlah kolom = 9 
            found = True
            df_returned = df
    return found, df_returned


def split_df(df_):
    '''
    Fungsi untuk split tabel perorangan. Kadang ada satu halaman dengan lebih dari satu tabel.
    Input: df_ (dataframe tabel perorangan)
    Output: 
        - list berisi beberapa dataframe untuk tiap individu
    '''
    dfs = []
    header_indexes = list(df_[df_[1]=="No Peserta"].index)
    header_indexes.append(len(df_))
    for i in range(len(header_indexes)-1):
        splitted_df = df_.iloc[header_indexes[i]: header_indexes[i+1], :]
        splitted_df.index = range(len(splitted_df))
        dfs.append(splitted_df)
    return dfs

def get_info_from_table(df_, idx):
    '''
    Fungsi untuk mengekstrak informasi dari tabel perorangan 
    Input: df_ (dataframe tabel perorangan)
    Output: 
        - dicitionary berisi informasi perorangan yang telah diekstrak
    '''
    base_data =  {
        "no_peserta": df_.iloc[idx,1],
        "kode_pendidikan": df_.iloc[idx,2],
        "total_twk": df_.iloc[idx,4],
        "total_tiu": df_.iloc[idx,5],
        "total_tkp": df_.iloc[idx,6],
        "total_skd": df_.iloc[idx,7],
        "keterangan": df_.iloc[idx,8]
    }

    return {**base_data}

In [7]:
start_index = 0
end_index = 929
pdf = pdfplumber.open('datasets/Lampiran B-099.02720.06.2022 Pengumuman Hasil Tahap 1 Tahun 2022.pdf')

# start iterating
result = []
last_jabatan = {}

start_time = dt.datetime.now()
start_time = dt.datetime.now()
for i in range(start_index, end_index):
    pg = pdf.pages[i]

    # jika halaman tsb ada info tentang lowongan, simpan
    current_jabatan = check_for_jabatan(pg)
    if current_jabatan != {}:
        last_jabatan = current_jabatan
    
    is_detail_found, detail_df = check_for_detail_tables(pg)
    # jika ketemu ada tabel perorangan
    if is_detail_found:
        splitted_df = split_df(detail_df)
        for df_ in splitted_df:
            for i in range(2, len(df_)):
                details = get_info_from_table(df_, i)
                if current_jabatan == {}:
                    # kalo ada info lowongan di halaman yang sama, pakai info lowongan tsb
                    details.update(last_jabatan)
                else:
                    # kalo ga, pake info lowongan terakhir
                    details.update(current_jabatan)
                    last_jabatan = current_jabatan
                result.append(details)

    # untuk logging
    if i%100 == 99:
        curr_time = dt.datetime.now()
        print("Done for "+str(i), curr_time-start_time)
        start_time = dt.datetime.now()

res = pd.DataFrame(result)

OSError: [Errno 22] Invalid argument: 'spmb_0_929_2024-02-18 13:35:49.467388.csv'

In [9]:
res.to_csv('Tahap 1.csv')