In [11]:
# import library
import tabula
import camelot
import pandas as pd
import datetime as dt
import sys

pd.options.display.max_columns = None

In [9]:
df = pd.read_csv("dataset/dataset_analisa_tambahan/bps-od_17106_jml_pengeluaran_per_kapita__kabupatenkota_data.csv")
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_pengeluaran_per_kapita,satuan,tahun
0,268,32,JAWA BARAT,3201,KABUPATEN BOGOR,10317.0,RIBU RUPIAH,2020
1,269,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,8823.0,RIBU RUPIAH,2020
2,270,32,JAWA BARAT,3203,KABUPATEN CIANJUR,7980.0,RIBU RUPIAH,2020
3,271,32,JAWA BARAT,3204,KABUPATEN BANDUNG,10201.0,RIBU RUPIAH,2020
4,272,32,JAWA BARAT,3205,KABUPATEN GARUT,7876.0,RIBU RUPIAH,2020

In [10]:
df = df[['nama_kabupaten_kota', 'jumlah_pengeluaran_per_kapita', 'tahun']]
df['tahun'] = df['tahun'].astype('str')
df['jumlah_pengeluaran_per_kapita'] = df['jumlah_pengeluaran_per_kapita'].astype('int')
df['nama_kabupaten_kota'] = df['nama_kabupaten_kota'].str.title()
df.to_csv("dataset/dataset_clean/pengeluaran_perkapita_kab.csv", index=False)
df.head()

  nama_kabupaten_kota  jumlah_pengeluaran_per_kapita tahun
0     Kabupaten Bogor                          10317  2020
1  Kabupaten Sukabumi                           8823  2020
2   Kabupaten Cianjur                           7980  2020
3   Kabupaten Bandung                          10201  2020
4     Kabupaten Garut                           7876  2020

In [36]:
df1 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha Sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/Karyawan/Pegawai', 'Pekerja Bebas', 'Pekerja keluarga/tidak dibayar'],
    'Total': [197371, 70986, 17903, 291364, 119814, 43201],
    'Kabupaten/Kota': ['Kabupaten Bandung Barat'] * 6
})

df2 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha Sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/karyawan/pegawai', 'Pekerja bebas di pertanian', 'Pekerja bebas di nonpertanian', 'Pekerja keluarga/tidak dibayar'],
    'Total': [126182, 64840, 17073, 142984, 31343, 45361, 50967],
    'Kabupaten/Kota': ['Kabupaten Kuningan'] * 7
})

df3 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha Sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/karyawan/pegawai', 'Pekerja bebas di pertanian', 'Pekerja bebas di nonpertanian', 'Pekerja keluarga/tidak dibayar'],
    'Total': [300758, 216361, 44208, 257147, 107970, 140180, 162594],
    'Kabupaten/Kota': ['Kabupaten Garut'] * 7
})

df4 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/Karyawan/Pegawai', 'Pekerja bebas', 'Pekerja keluarga/tidak dibayar'],
    'Total': [62962, 16473, 10818, 163287, 10501, 18357],
    'Kabupaten/Kota': ['Kota Cimahi'] * 6
})

df5 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/Karyawan/Pegawai', 'Pekerja bebas', 'Pekerja keluarga/tidak dibayar'],
    'Total': [44891, 9862, 9895, 72464, 11186, 8464],
    'Kabupaten/Kota': ['Kota Sukabumi'] * 6
})

df6 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/Karyawan/Pegawai', 'Pekerja bebas', 'Pekerja keluarga/tidak dibayar'],
    'Total': [41774, 70819, 10924, 49544, 35602, 48021],
    'Kabupaten/Kota': ['Kabupaten Pangandaran'] * 6
})

df7 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha Sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/dibayar', 'Buruh/karyawan/pegawai', 'Pekerja bebas di pertanian & non pertanian', 'Pekerja keluarga/tidak dibayar'],
    'Total': [300049, 59114, 56563, 679688, 35272, 71799],
    'Kabupaten/Kota': ['Kota Bandung'] * 6
})

df8 = pd.DataFrame({
    'Status Pekerjaan Utama': ['Berusaha sendiri', 'Berusaha dibantu buruh tidak tetap/buruh tidak dibayar', 'Berusaha dibantu buruh tetap/buruh dibayar', 'Buruh/Karyawan/Pegawai', 'Pekerja bebas', 'Pekerja keluarga/tidak dibayar'],
    'Total': [234976, 52434, 33283, 744503, 41390, 53727],
    'Kabupaten/Kota': ['Kota Depok'] * 6
})

# Menggabungkan semua DataFrame
df_combined = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)
df_combined.to_csv("dataset/dataset_clean/jenis_pekerjaan_kab.csv", index=False)
df_combined.head()

,Status Pekerjaan Utama,Total,Kabupaten/Kota
0,Berusaha Sendiri,197371,Kabupaten Bandung Barat
1,Berusaha dibantu buruh tidak tetap/buruh tidak...,70986,Kabupaten Bandung Barat
2,Berusaha dibantu buruh tetap/buruh dibayar,17903,Kabupaten Bandung Barat
3,Buruh/Karyawan/Pegawai,291364,Kabupaten Bandung Barat
4,Pekerja Bebas,119814,Kabupaten Bandung Barat